@inject TechStore.Models.FilterModel.CpuFilters cpuFilter
@model IEnumerable<TS.DataAccessLayer.Models.Cpu>
@{
    ViewData["Title"] = "CPU";
}

@section Scripts
    {
    <script>
        ShowAllProducts();
        $(document).ready;

        $('._checkbox').click(function () {
            ChangeCheckBoxColor($(this));

            if ($(this).is(':checked')) {
                AddPrepareProductsList($(this));
            }
            else {
                RemovePrepareProductsList($(this));
            }
        });

        $('.reset').click(function () {
            $('body input:checkbox').prop('checked', false);
            ResetFilteres();
        });

        function ChangeCheckBoxColor(param) {
            if (param.is(':checked')) {
                param.parent().addClass('brown');
            }
            else {
                param.parent().removeClass('brown');
            }
        }

        function AddPrepareProductsList(param) {
            var data = param.val();
            $.ajax({
                url: '/api/GetCpusApi/AddPrepareProducts',
                contentType: 'application/json',
                method: 'post',
                async: true,
                data: JSON.stringify({
                    RequestValue: data
                }),
                complete: (function () {
                    ShowFilteredProductsCount();
                })
            })
        }
        function RemovePrepareProductsList(param) {
            var data = param.val();
            $.ajax({
                url: '/api/GetCpusApi/RemovePrepareProducts',
                contentType: 'application/json',
                method: 'post',
                async: true,
                data: JSON.stringify({
                    RequestValue: data
                }),
                complete: (function () {
                    ShowFilteredProductsCount();
                })
            })
        }

        function ShowFilteredProductsCount() {
            $.get('/api/GetCpusApi/GetFilteredProductsCount').
                done(function (data) {
                    $('.product-count').text(data);
                });
        }

        function ShowAllProducts() {
            $.get('/api/GetCpusApi/GetProductsCount').
                done(function (data) {
                    $('.product-count').text(data);
                });
        }

        function ResetFilteres() {
            $.get('/api/GetCpusApi/ClearFilteredProducts');
        }

    </script>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row-filter panel">
    <div class="filter">
        <div>Vendor:</div>
        <ul style="list-style:none">
            @foreach (var cpuVendor in cpuFilter.Vendors)
            {
                <li>

                    <input id="controls" class="_checkbox" type="checkbox" value="Vendor:@cpuVendor">
                    <span>@cpuVendor</span><br>

                </li>
            }
        </ul>

        <div>Model:</div>
        <ul style="list-style:none">
            @foreach (var cpuSerials in cpuFilter.ModelsSerias)
            {
                <li>
                    <input id="controls" class="_checkbox" type="checkbox" value="ModelSeries:@cpuSerials">
                    <span> @cpuSerials</span><br>
                </li>
            }
        </ul>

        <div>Socket:</div>
        <ul style="list-style:none">
            @foreach (var cpuSocket in cpuFilter.Sockets)
            {
                <li>
                    <input id="controls" class="_checkbox" type="checkbox" value="Socket:@cpuSocket">
                    <span> @cpuSocket</span><br>
                </li>
            }
        </ul>

        <idv>Cores:</idv>
        <ul style="list-style:none">
            @foreach (var cpuCores in cpuFilter.Cores)
            {
                <li>
                    <input id="controls" class="_checkbox" type="checkbox" value="Cores:@cpuCores">
                    <span> @cpuCores</span><br>
                </li>
            }
        </ul>

        <ul style="list-style:none">
            @foreach (var cpuPropery in cpuFilter.Properties)
            {
                <li>
                    @cpuPropery
                    <div class="form_group">
                        <label class="control_label"></label>
                        <input class="form_control" />
                        <label class="control_label"></label>
                        <input class="form_control" />

                    </div>
                </li>
            }
        </ul>

        <div class="jsons">
            <button id="clickclack" class="btn btn-primary">click</button>
            <span class="product-count"> </span>
        </div>

        <div class="form-group reset">
            <button id="checkbox-off" class="btn btn-primary">Reset</button>
        </div>
    </div>

    <div class="product-list">
        @foreach (var cpu in Model)
        {
            <div class="wall">
                <h3>
                    <strong>
                        <a class="" asp-action="Details" asp-route-id="@cpu.Id">@cpu.Vendor @cpu.ModelSeries</a>
                    </strong>
                    <span class="pull-right label label-primary">
                        <a asp-action="Edit" asp-route-id="@cpu.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@cpu.Id">Delete</a>
                        @cpu.Price$
                    </span>
                </h3>
                <span class="lead">@cpu.Description</span>
            </div>

        }
    </div>
</div>
